/* The work below, CSSBox, is released under the Creative Commons
   Attribution-ShareAlike 4.0 license and is available on
   https://github.com/TheLastProject/CSSBox. You are not required to add
   additional credit to your website, just leave the above text in this file */
div.hcbox {
  display: inline-block;
}

span.hcbox_full {
  z-index: 999999;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  cursor: default;
  transition: opacity 0.5s linear;
}

span.hcbox_full img {
  position: fixed;
  background-color: white;
  margin: 0;
  padding: 0;
  max-height: 90%;
  max-width: 90%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px black;
}

a.hcbox_close,
a.hcbox_prev,
a.hcbox_next {
  z-index: 999999;
  position: fixed;
  text-decoration: none;
  visibility: hidden;
  color: white;
  font-size: 36px;
}

a.hcbox_close {
  top: 1%;
  right: 1%
}

a.hcbox_close::after {
  content: '\00d7';
}

a.hcbox_prev,
a.hcbox_next {
  top: 50%;
  transform: translate(0%, -50%);
}

a.hcbox_prev {
  left: 5%;
}

a.hcbox_next {
  right: 5%;
}

a:target ~ a.hcbox_close,
a:target ~ a.hcbox_prev,
a:target ~ a.hcbox_next {
  visibility: visible;
}

a:target > img.hcbox_thumb + span.hcbox_full {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
}

.hcbox_thumb {
  width: 280px;
  height: 280px;
  object-fit: cover;
}
/* This is the end of CSSBox */